In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv('iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [4]:
#숫자로도 쓸 수 있음
iphone_df.iloc[2,4]

'No'

In [5]:
iphone_df.iloc[[1,3],[1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [6]:
iphone_df.iloc[3:,1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0


하나의 row 이름	df.loc["row4"]	

row 이름의 리스트	df.loc[["row4", "row5", "row3"]]	

row 이름의 리스트 슬라이싱	df.loc["row2":"row5"]	df["row2":"row5"]

하나의 column 이름	df.loc[:, "col1"]	df["col1"]

column 이름의 리스트	df.loc[:, ["col4", "col6", "col3"]]	df[["col4", "col6", "col3"]]

column 이름의 리스트 슬라이싱	df.loc[:, "col2":"col5"]	

위치로 인덱싱하기	기본 형태	단축 형태

하나의 row 위치	df.iloc[8]	

row 위치의 리스트	df.iloc[[4, 5, 3]]	

row 위치의 리스트 슬라이싱	df.iloc[2:5]	df[2:5]

하나의 column 위치	df.iloc[:, 3]	

column 위치의 리스트	df.iloc[:, [3, 5, 6]]	

column 위치의 리스트 슬라이싱	df.iloc[:, 3:7]