In [1]:
import pandas as pd
import numpy as np

In [5]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91],['yoonsoo', 88, 75]]

In [14]:
two_dimensional_array = np.array(two_dimensional_list)
two_dimensional_array

array([['dongwook', '50', '86'],
       ['sineui', '89', '31'],
       ['ikjoong', '68', '91'],
       ['yoonsoo', '88', '75']], dtype='<U8')

In [16]:
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]
list_of_series

[0    dongwook
 1          50
 2          86
 dtype: object,
 0    sineui
 1        89
 2        31
 dtype: object,
 0    ikjoong
 1         68
 2         91
 dtype: object,
 0    yoonsoo
 1         88
 2         75
 dtype: object]

In [17]:
# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

판다스의 DataFrame을 이용하면 다음과 같은 표를 만들 수 있다.

In [7]:
my_df = pd.DataFrame(two_dimensional_list)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [10]:
#행과 열의 이름도 바꿀 수 있다.
#행 colums
#열 index

my_df = pd.DataFrame(two_dimensional_list, columns = ['name', 'english_score', 'math_score'], index=['a','b','c','d'])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [8]:
type(my_df)

pandas.core.frame.DataFrame

In [12]:
#넘파이와 다르게 한 데이터 프레임 안에서 다양한 자료형을 담을 수 있지만, 같은 colums 내에서는 모두 같은 자료형이어야 한다.
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

# 파이썬 사전으로 DataFrame만들기

Series?
: pandas.Seeries는 1차원 데이터 프레임이라고 생각하면 됨. 1차원 리스트와 비슷하지만, 데이터 프렝임과 비슷하게 인덱스가 있다.

In [18]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

In [19]:
dict1 = {
    'name':names,
    'english_score': english_scores,
    'math_score': math_scores
}

In [21]:
dict2 = {
    'name' : np.array(names),
    'english_score': np.array(english_scores),
    'math_score': np.array(math_scores)
}

In [23]:
dict3 = {
    'name': pd.Series(names),
    'english_score': pd.Series(english_scores),
    'math_score': pd.Series(math_scores)
}

pd.Series(names)

0    dongwook
1      sineui
2     ikjoong
3     yoonsoo
dtype: object

In [25]:
# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

리스트가 담긴 사전이 아니라, 사전이 담긴 리스트로도 DataFrame을 만들 수 있다.

In [26]:
my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

In [27]:
df = pd.DataFrame(my_list)

print(df)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [3]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

my_df = pd.DataFrame(two_dimensional_list, columns = ['name', 'english_score','math_score'], index=['a','b','c','d'])

my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75